.button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-list li {
    padding: 10px;
}

.menu pre {
    margin-top: 20px;
    padding: 1em;
    overflow: auto;
    font-size: 16px;
    line-height: 1.5;
}