<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tab Component, UI Kit</title>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/ui/tab.css">
</head>
<body class>

  <div class="tab-component">
    <ul class="tablist">
      <li class="tablist-item active">
        <a href="" class="tab">most views</a>
      </li>
      <li class="tablist-item">
        <a href="" class="tab">recent</a>
      </li>
      <li class="tablist-item">
        <a href="" class="tab">comments</a>
      </li>
    </ul>
    <div class="tabpanels">
      <div class="tabpanel active">
        <ul class="tabpanel-list">
          <li class="tabpanel-item">
            <img src="images/tabpanel-most-view-01.jpg" alt class="tabpanel-thumb">
            <time pubdate="2017-06-27" class="tabpanel-time">Jan, 9, 11:45 am</time>
            <a href="#" class="tabpanel-link">Rye, a Grain With Ancient Roots, Is Rising Again</a>
          </li>
          <li class="tabpanel-item">
            <img src="images/tabpanel-most-view-02.jpg" alt class="tabpanel-thumb">
            <time pubdate="2017-06-27" class="tabpanel-time">Dec, 27, 9:45 am</time>
            <a href="#" class="tabpanel-link">10 essential tech gadgets to take on your travels</a>
          </li>
          <li class="tabpanel-item">
            <img src="images/tabpanel-most-view-03.jpg" alt class="tabpanel-thumb">
            <time pubdate="2017-06-27" class="tabpanel-time">Jan, 24, 9:56 am</time>
            <a href="#" class="tabpanel-link">Endangered Species and the Stuff We Buy, All Mapped Out</a>
          </li>
        </ul>
        <div class="tabpanel-control">
          <div class="control-indicator">
            <a class="indicator active" href="">1</a>
            <a class="indicator" href="">2</a>
            <a class="indicator" href="">3</a>
          </div>
          <a href="" class="link is-view-all">
            view all
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="31px" height="20px">
              <path fill-rule="evenodd"  fill="rgb(18, 64, 126)"
              d="M30.715,10.714 C30.676,10.752 30.630,10.773 30.587,10.803 L21.676,19.714 C21.292,20.098 20.670,20.098 20.286,19.714 C19.902,19.331 19.902,18.708 20.286,18.324 L27.609,11.000 L1.000,11.000 C0.448,11.000 0.000,10.552 0.000,10.000 C0.000,9.448 0.448,9.000 1.000,9.000 L27.610,9.000 L20.286,1.676 C19.902,1.292 19.902,0.669 20.286,0.285 C20.670,-0.098 21.292,-0.098 21.676,0.285 L30.601,9.210 C30.638,9.238 30.681,9.252 30.715,9.286 C30.911,9.482 31.004,9.742 30.999,10.000 C31.004,10.258 30.911,10.517 30.715,10.714 Z"/>
              </svg>
          </a>
        </div>
      </div>
      <div class="tabpanel">
        <ul class="tabpanel-list">
          <li class="tabpanel-item">
            <img src="images/tabpanel-recent-01.jpg" alt class="tabpanel-thumb">
            <time pubdate="2017-06-27" class="tabpanel-time">Jan, 9, 11:45 am</time>
            <a href="#" class="tabpanel-link">Rye, a Grain With Ancient Roots, Is Rising Again</a>
          </li>
          <li class="tabpanel-item">
            <img src="images/tabpanel-recent-01.jpg" alt class="tabpanel-thumb">
            <time pubdate="2017-06-27" class="tabpanel-time">Dec, 27, 9:45 am</time>
            <a href="#" class="tabpanel-link">10 essential tech gadgets to take on your travels</a>
          </li>
          <li class="tabpanel-item">
            <img src="images/tabpanel-recent-03.jpg" alt class="tabpanel-thumb">
            <time pubdate="2017-06-27" class="tabpanel-time">Jan, 24, 9:56 am</time>
            <a href="#" class="tabpanel-link">Endangered Species and the Stuff We Buy, All Mapped Out</a>
          </li>
        </ul>
        <div class="tabpanel-control">
          <div class="control-indicator">
            <a class="indicator" href="">1</a>
            <a class="indicator active" href="">2</a>
            <a class="indicator" href="">3</a>
          </div>
          <a href="" class="link is-view-all">
            view all
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="31px" height="20px">
              <path fill-rule="evenodd"  fill="rgb(18, 64, 126)"
              d="M30.715,10.714 C30.676,10.752 30.630,10.773 30.587,10.803 L21.676,19.714 C21.292,20.098 20.670,20.098 20.286,19.714 C19.902,19.331 19.902,18.708 20.286,18.324 L27.609,11.000 L1.000,11.000 C0.448,11.000 0.000,10.552 0.000,10.000 C0.000,9.448 0.448,9.000 1.000,9.000 L27.610,9.000 L20.286,1.676 C19.902,1.292 19.902,0.669 20.286,0.285 C20.670,-0.098 21.292,-0.098 21.676,0.285 L30.601,9.210 C30.638,9.238 30.681,9.252 30.715,9.286 C30.911,9.482 31.004,9.742 30.999,10.000 C31.004,10.258 30.911,10.517 30.715,10.714 Z"/>
              </svg>
          </a>
        </div>
      </div>
      <div class="tabpanel">
        <ul class="tabpanel-list">
          <li class="tabpanel-item">
            <img src="images/tabpanel-comment-01.jpg" alt class="tabpanel-thumb">
            <time pubdate="2017-06-27" class="tabpanel-time">Jan, 9, 11:45 am</time>
            <a href="#" class="tabpanel-link">Rye, a Grain With Ancient Roots, Is Rising Again</a>
          </li>
          <li class="tabpanel-item">
            <img src="images/tabpanel-comment-02.jpg" alt class="tabpanel-thumb">
            <time pubdate="2017-06-27" class="tabpanel-time">Dec, 27, 9:45 am</time>
            <a href="#" class="tabpanel-link">10 essential tech gadgets to take on your travels</a>
          </li>
          <li class="tabpanel-item">
            <img src="images/tabpanel-comment-03.jpg" alt class="tabpanel-thumb">
            <time pubdate="2017-06-27" class="tabpanel-time">Jan, 24, 9:56 am</time>
            <a href="#" class="tabpanel-link">Endangered Species and the Stuff We Buy, All Mapped Out</a>
          </li>
        </ul>
        <div class="tabpanel-control">
          <div class="control-indicator">
            <a class="indicator" href="">1</a>
            <a class="indicator active" href="">2</a>
            <a class="indicator" href="">3</a>
          </div>
          <a href="" class="link is-view-all">
            view all
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="31px" height="20px">
              <path fill-rule="evenodd"  fill="rgb(18, 64, 126)"
              d="M30.715,10.714 C30.676,10.752 30.630,10.773 30.587,10.803 L21.676,19.714 C21.292,20.098 20.670,20.098 20.286,19.714 C19.902,19.331 19.902,18.708 20.286,18.324 L27.609,11.000 L1.000,11.000 C0.448,11.000 0.000,10.552 0.000,10.000 C0.000,9.448 0.448,9.000 1.000,9.000 L27.610,9.000 L20.286,1.676 C19.902,1.292 19.902,0.669 20.286,0.285 C20.670,-0.098 21.292,-0.098 21.676,0.285 L30.601,9.210 C30.638,9.238 30.681,9.252 30.715,9.286 C30.911,9.482 31.004,9.742 30.999,10.000 C31.004,10.258 30.911,10.517 30.715,10.714 Z"/>
              </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

<script src="js/ui/tab.js"></script>
</body>
</html>